{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      {% for switch in switches_list %}
      <div class="row">
        <div class="col-xl">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row">
                <div class="col-1">
                  <i class="{{switch.icon}}"></i>
                </div>
                <div class="col">
                  <h5 class="h3 mb-0">{{switch.name}}</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="col">
                <button type="button" id="switch_power_btn_{{switch.id}}" class="btn btn-danger w-100" onclick="switch_click({{switch.id}})">
                  <i class="ni ni-button-power"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% for ac in acs_list %}
      <div class="row">
        <div class="col-xl">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row">
                <div class="col-1">
                  <i class="fa fa-wind"></i>
                </div>
                <div class="col">
                  <h5 class="h3 mb-0">{{ac.name}} ({{ac.api}})</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <button type="button" id="ac_power_btn_{{ac.id}}" class="btn btn-danger w-100" onclick="ac_click({{ac.id}}, 'power', 0)">
                      <i class="ni ni-button-power"></i>
                  </button>
                </div>
              </div>
              <div class="row"><br></div>
              <div class="row">
                <div class="col">
                  <div class="dropdown">
                    <i class="fa fa-temperature-high" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% for temp in ac.templist %}
                      <a class="dropdown-item" onclick="ac_click({{ac.id}}, 'temperature', {{temp}})">{{temp}}</a>
                      {% endfor %}
                    </div>
                  </div>
                  <span id="temperature_{{ac.id}}">18</span>
                </div>
                <div class="col">
                  <div class="dropdown">
                    <i class="fa fa-fan" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" onclick="ac_click('{{ac.id}}', 'fan', 'Low')">Low</a>
                      <a class="dropdown-item" onclick="ac_click('{{ac.id}}', 'fan', 'Med')">Med</a>
                      <a class="dropdown-item" onclick="ac_click('{{ac.id}}', 'fan', 'High')">High</a>
                      <a class="dropdown-item" onclick="ac_click('{{ac.id}}', 'fan', 'Auto')">Auto</a>
                    </div>
                  </div>
                  <span id="fan_{{ac.id}}">Low</span>
                </div>
                <div class="col">
                  <div class="dropdown">
                    <i class="fa fa-sun" id="ACdropdownMenuButton_{{ac.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" onclick="ac_click('{{ac.id}}', 'mode', 'HEAT')"><i class="fa fa-sun"></i></a>
                      <a class="dropdown-item" onclick="ac_click('{{ac.id}}', 'mode', 'COOL')"><i class="fa fa-snowflake"></i></a>
                      <a class="dropdown-item" onclick="ac_click('{{ac.id}}', 'mode', 'FAN')"><i class="fa fa-fan"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% for fan in fans_list %}
      <div class="row">
        <div class="col-xl">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row">
                <div class="col-1">
                  <i class="fa fa-fan"></i>
                </div>
                <div class="col">
                  <h5 class="h3 mb-0">{{fan.name}}</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <button type="button" id="fan_power_btn_{{fan.id}}" class="btn btn-danger w-100" onclick="fan_click({{fan.id}}, 'light', 'OFF')">
                      <i class="ni ni-bulb-61"></i> OFF
                  </button>
                </div>
                <div class="col">
                  <button type="button" id="fan_power_btn_{{fan.id}}" class="btn btn-success w-100" onclick="fan_click({{fan.id}}, 'light', 'ON')">
                      <i class="ni ni-bulb-61"></i> ON
                  </button>
                </div>
              </div>
              <div class="row"><br></div>
              <div class="row">
                <div class="col">
                  <center>
                    <button class="btn btn-primary" type="button" onclick="fan_click('{{fan.id}}', 'fan', 'OFF')"><i class="fa fa-fan"></i> Off</button>
                  </center>
                </div>
                <div class="col">
                  <center>
                    <button class="btn btn-primary" type="button" onclick="fan_click('{{fan.id}}', 'fan', 'LOW')"><i class="fa fa-fan"></i> Low</button>
                  </center>
                </div>
              </div>
              <div class="row"><br></div>
              <div class="row">
                <div class="col">
                  <center>
                    <button class="btn btn-primary" type="button" onclick="fan_click('{{fan.id}}', 'fan', 'MED')"><i class="fa fa-fan"></i> Medium</button>
                  </center>
                </div>
                <div class="col">
                  <center>
                    <button class="btn btn-primary" type="button" onclick="fan_click('{{fan.id}}', 'fan', 'HIGH')"><i class="fa fa-fan"></i> High</button>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script>
  const POWER_ON_BUTTON = "btn btn-success w-100";
  const POWER_OFF_BUTTON = "btn btn-danger w-100";
  const POWER_ERROR_BUTTON = "btn btn-secondary w-100";
  const HEAT_MODE_ICON = "fa fa-sun";
  const COOL_MODE_ICON = "fa fa-snowflake";
  const FAN_MODE_ICON = "fa fa-fan";
  let acs = {};
  let switches = {};

  function ac_click(id, cmd, arg) {
    if (cmd == 'power') {
      if (document.getElementById("ac_power_btn_" + id.toString()).className == POWER_OFF_BUTTON) {
        arg = 'ON';
      } else {
        arg = 'OFF';
      }
    }
    acs[id][cmd] = arg;
    $.ajax({
      url: "/set_status",
      type: "PUT",
      dataType: "json",
      contentType: "application/json",
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
      },
      data: JSON.stringify({
        "entity": "AC",
        "id": id,
        "status": acs[id]
      }),
      success: (data) => {
        get_ac_status(id);
      },
      error: (error) => {
        console.log(error);
      }
    });
  }

  function fan_click(id, cmd, arg) {
    let status = {}
    status[cmd] = arg;
    $.ajax({
      url: "/set_status",
      type: "PUT",
      dataType: "json",
      contentType: "application/json",
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
      },
      data: JSON.stringify({
        "entity": "fan",
        "id": id,
        "cmd": cmd,
        "status": status
      }),
      success: (data) => {
      },
      error: (error) => {
        console.log(error);
      }
    });
  }
  
  function switch_click(id) {
    if (document.getElementById("switch_power_btn_" + id.toString()).className == POWER_OFF_BUTTON) {
      arg = {'power': 'ON'};
    } else {
      arg = {'power': 'OFF'};
    }
    status = 
    $.ajax({
      url: "/set_status",
      type: "PUT",
      contentType: "application/json",
      dataType: "json",
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
      },
      data: JSON.stringify({
        "entity": "switch",
        "id": id,
        "status": arg
      }),
      success: (data) => {
        get_switch_status(id);
      },
      error: (error) => {
        console.log(error);
      }
    });
  }

  function update_switch_card(id, power) {
    let classname = POWER_OFF_BUTTON;
    if (power == 'ON'){
      classname = POWER_ON_BUTTON;
    }
    document.getElementById("switch_power_btn_" + id.toString()).className = classname;
  }

  function get_switch_status(id) {
    $.ajax({
      url: "/get_status",
      type: "GET",
      data: {
        "entity": "switch",
        "id":      id
      },
      dataType: "json",
      contentType: "application/json",
      success: (data) => {
        switches[id] = JSON.parse(JSON.stringify(data));
        update_switch_card(id, data['power']);
      },
      error: (error) => {
        console.log(error);
        document.getElementById("switch_power_btn_" + id.toString()).className = POWER_ERROR_BUTTON;
      }
    });
  }

  function update_ac_card(id) {
    let classname = POWER_OFF_BUTTON;
    if (acs[id]['power'] == 'ON'){
      classname = POWER_ON_BUTTON;
    }
    document.getElementById("ac_power_btn_" + id.toString()).className = classname;
    document.getElementById("temperature_"+id.toString()).innerHTML = acs[id]['temperature'];
    document.getElementById("fan_"+id.toString()).innerHTML = acs[id]['fan'];
    if (acs[id]['mode'] == 'HEAT'){
      classname = HEAT_MODE_ICON;
    }
    if (acs[id]['mode'] == 'COOL'){
      classname = COOL_MODE_ICON;
    }
    if (acs[id]['mode'] == 'FAN'){
      classname = FAN_MODE_ICON;
    }
    document.getElementById("ACdropdownMenuButton_" + id.toString()).className = classname;
  }

  function get_ac_status(id) {
    $.ajax({
      url: "/get_status",
      type: "GET",
      data: {
        "entity": "AC",
        "id":      id
      },
      dataType: "json",
      contentType: "application/json",
      success: (data) => {
        acs[id] = JSON.parse(JSON.stringify(data));
        update_ac_card(id);
      },
      error: (error) => {
        console.log(error);
        document.getElementById("ac_power_btn_" + id.toString()).className = POWER_ERROR_BUTTON;
      }
    });
  }

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + "=")) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function init_acs() {
    $.ajax({
      url: "/get_ids",
      type: "GET",
      data: {'entity': 'AC'},
      dataType: "json",
      contentType: "application/json",
      success: (data) => {
        data['ac_ids'].forEach(function (item, index) {
          get_ac_status(item);
        });
      },
      error: (error) => {
        console.log(error);
      }
    });
  }

  function init_switches() {
    $.ajax({
      url: "/get_ids",
      type: "GET",
      data: {'entity': 'switch'},
      dataType: "json",
      contentType: "application/json",
      success: (data) => {
        data['switch_ids'].forEach(function (item, index) {
          get_switch_status(item);
        });
      },
      error: (error) => {
        console.log(error);
      }
    });
  }

  function periodic_update() {
    for (const [key, value] of Object.entries(acs)) {
      get_ac_status(key);
    };
    for (const [key, value] of Object.entries(switches)) {
      get_switch_status(key);
    };
  };

  setInterval(function() {
    periodic_update();
  }, 3000);

  function init_objects() {
    init_acs();
    init_switches();
  }
  
  document.addEventListener("DOMContentLoaded", function() {
    init_objects();
  });
  </script>
  
{% endblock javascripts %}
