{% extends 'layouts/base.html' %}

{% block title %} New Routine {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Routines</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/routines">Routines</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Routine</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <form action="/new_routine" method="post">
      {% csrf_token %}
      <input type="hidden" value="1" name="NumOfActions" id="NumOfActions">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" id="RoutineNameInput" placeholder="Routine Name" name="RoutineName">
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="container" id="ActionsContainer">
        <div class="card" id="ActionCard-1">
          <div class="card-header bg-transparent">
            <div class="row">
              <div class="col">
                <h5 class="h3 mb-0">Action-1</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="container" id="Action-1">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="Entity-1">Entity:</label>
                    <select class="form-control" id="Entity-1" onchange='selectEntity(this.value, this.id)' name="Entity-1">
                      <option value="None">-- Select An Entity --</option>
                      <optgroup label="Switch">
                        {% for switch in switches_list %}
                        <option value="switch {{switch.id}}">{{switch.name}}</option>
                        {% endfor %}
                      </optgroup>
                      <optgroup label="AC">
                        {% for ac in acs_list %}
                        <option value="AC {{ac.id}}">{{ac.name}}</option>
                        {% endfor %}
                      </optgroup>
                      <optgroup label="Fan"></optgroup>
                        {% for fan in fans_list %}
                        <option value="fan {{fan.id}}">{{fan.name}}</option>
                        {% endfor %}
                      </optgroup>
                    </select>
                  </div>
                </div>
              </div>
              <div class="container" id="StateContainer-1">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col-4">
          <input type="submit" class="btn btn-default" value="Create">
        </div>
        <div class="col-4">
          <button type="button" id="addActionBtn" class="btn btn-default" onclick="addAction()">Add Action</button>
        </div>
        <div class="col-4">
          <button type="button" id="delAction" class="btn btn-default" onclick="deleteAction()">Delete Action</button>
        </div>
      </div>
    </form>
    {% include "includes/footer.html" %}
  </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  function addAction() {
    let new_card =  document.getElementById("ActionCard-1").cloneNode(true);
    let ActionNum = parseInt(document.getElementById("NumOfActions").value) + 1;
    document.getElementById("NumOfActions").value = ActionNum;
    new_card.id = "ActionCard-" + ActionNum.toString();
    new_card.innerHTML = new_card.innerHTML.replace(RegExp(`-1`,'g'), `-${ActionNum}`);
    document.getElementById("ActionsContainer").appendChild(new_card);
    selectEntity("None", ActionNum);
  };

  function selectEntity(entity, entity_id) {
    let card = parseInt(entity_id.split('-')[1]);
    const entityType = entity.split(' ')[0];
    const entityId = entity.split(' ')[1];
    if (entityType == 'switch') {
      setSwitch(card);
    };
    if (entityType == 'fan') {
      setFan(card);
    };
    if (entityType == 'AC') {
      setAC(card);
    };
    if (entityType == 'None') {
      setNone(card);
    }
    document.getElementById("Entity-" + card.toString()).value = entity;
  }

  function setNone(card) {
    document.getElementById("StateContainer-" + card.toString()).innerHTML = '';
  }
  
  function setSwitch(card) {
    document.getElementById("StateContainer-" + card.toString()).innerHTML = 
    `<div class="row"></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="power${card}">Power:</label>
          <select class="form-control" id="power${card}" name="power${card}">
            <option>ON</option>
            <option>OFF</option>
          </select>
        </div>
      </div>
    </div>`
  }

  function setFan(card) {
    document.getElementById("StateContainer-" + card.toString()).innerHTML = 
    `<div class="row"></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="light${card}">Light:</label>
          <select class="form-control" id="light${card}" name="light${card}">
            <option value="None">No change</option>
            <option>ON</option>
            <option>OFF</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="fan${card}">Fan:</label>
          <select class="form-control" id="fan${card}" name="fan${card}">
            <option value="None">No change</option>
            <option>Low</option>
            <option>Med</option>
            <option>High</option>
          </select>
        </div>
      </div>
    </div>`
  }

  function setAC(card) {
    document.getElementById("StateContainer-" + card.toString()).innerHTML = 
    `<div class="row"></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="power${card}">Power:</label>
          <select class="form-control" id="power${card}" name="power${card}">
            <option>ON</option>
            <option>OFF</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="mode${card}">Mode:</label>
          <select class="form-control" id="mode${card}" name="mode${card}">
            <option>Cool</option>
            <option>Heat</option>
            <option>Fan</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="temp${card}">Temperature:</label>
          <select class="form-control" id="temp${card}" name="temp${card}">
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="fan${card}">Fan:</label>
          <select class="form-control" id="fan${card}" name="fan${card}">
            <option>Auto</option>
            <option>Low</option>
            <option>Med</option>
            <option>High</option>
          </select>
        </div>
      </div>
    </div>`
  }

  function deleteAction() {
    let ActionNum = parseInt(document.getElementById("NumOfActions").value) - 1;
    if (ActionNum > 0) {
      document.getElementById("NumOfActions").value = ActionNum;
      let select = document.getElementById("ActionsContainer");
      select.removeChild(select.lastChild);
    } else {
      selectEntity("None", 1);
    }
  }
</script>
{% endblock javascripts %}
